<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="http://previews.123rf.com/images/kannaa123rf/kannaa123rf1401/kannaa123rf140100031/25351555-Abstract-crystal-pink-triangle-background-Vector-illustration--Stock-Photo.jpg">
    <h1><%= title %></h1>
    <% if(who){ %>
    <p>安安給虧嗎! <%=who %></p>
    <a href="/articles">發表文章<a>
    <% } else { %>

    <form method="post" action="/verify">
      <p>
        名稱：<input type="text" id="username" name="username" />
        <input type="submit" value="登入"/>
      </p>
    </form>
    <% } %>
  </body>
</html>